
/*大屏幕 桌面显示器 大于等于1200px*/
/*@media (min-device-width:1200px) {
    html{
        cursor:url('../assets/ui/setting/v1/icon_shezhi_yingyue.png'),auto;
    }

    html:active{
        cursor:url('../assets/ui/setting/v1/icon_shezhi_yinliang.png'),auto;
    }
    html:visited{
        cursor:url('../assets/ui/setting/v1/icon_shezhi_yingyue.png'),auto;
    }
}*/

/*中等屏幕 桌面显示器 大于等于992px*/
/*@media (min-device-width:992px) {*/

/*无需判断屏幕尺寸，手机平板上根本不会显示鼠标*/
    html{
        cursor:url('../assets/ui/setting/v1/icon_shezhi_yingyue.png'),auto;
    }

    html:active{
        cursor:url('../assets/ui/setting/v1/icon_shezhi_yinliang.png'),auto;
    }
    html:visited{
        cursor:url('../assets/ui/setting/v1/icon_shezhi_yingyue.png'),auto;
    }
/*}*/

/*小屏幕，平板 大于等于768*/
/*@media (min-device-width:768px) { 
}*/

/*@media screen and (min-device-width:601px) and (max-device-width:999px) {

}*/